<button id="btnExport">EXPORT REPORT</button>


<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>



<script>

$(document).ready(function(){

    $("#btnExport").click(function() {

        let table = document.getElementsByTagName("table");

        TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag

           name: `export.xlsx`, // fileName you could use any name

           sheet: {

              name: 'Sheet 1' // sheetName

           }

        });

    });

});

</script>


